<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestCountries</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <header>
    <img width="240px" src="/svg/earth.svg" alt="" />

    <div class="group-03">
      API - restcountries.com - GRUPO 03
    </div>
  </header>
  {{#if country.name.common}}
    <section class="section-top">
      <a href="/" id="btn-home">Início</a>
    </section>
  {{/if}}
  {{#unless country.name.common}}
    <section class="section-top">
      <h2>Escolha um País</h2>
      <p>Abaixo estão listados os países disponíveis na API RestCountries.</p>
    </section>

    <form id="search-form" class="form-inline" action="/search" method="GET">
      <div class="form-group col-md-10">
        <input
          type="text"
          id="search-country"
          name="search-country"
          placeholder="Digite o nome do país"
          class="form-control"
        />
      </div>
      <div class="col-md-2">
        <button type="submit" id="btn-search">Buscar</button>
      </div>
    </form>
  {{/unless}}
  {{{body}}}

</html>