<main>
  <p>Selecione pelas opções abaixo: </p>
  {{#each countries}}
    <section class="country">
      <div class="flag">
        <img src="{{flags.svg}}" alt="{{name.common}} Flag" />
      </div>
      <div class="country-name">
        <a
          class="name-country"
          href="countries/{{name.common}}/"
        >{{name.common}}</a>
      </div>
    </section>
  {{/each}}
</main>